@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Figtree';
    src: url('./assets/Figtree-VariableFont_wght.ttf');
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: 'Figtree';
}